:root {
  --branding-color: #edf7fa;
  --primary-color: #8971d0;
  --heading-font: "Libre Baskerville", serif;
  --default-font: "Heebo", sans-serif;
}
body {
  font-family: var(--default-font);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font);
}
p {
  opacity: 0.7;
}
h1 {
  color: var(--primary-color);
  font-family: var(--heading-font);
  line-height: 1.2;
  font-size: 66px;
}
h2 {
  font-size: 40px;
}
h3 {
  opacity: 0.7;
  font-size: 26px;
}
h4 {
  color: var(--primary-color);
  font-size: 20px;
}
h5 {
  margin: 0;
}
h6 {
  opacity: 0.7;
}
footer {
  color: var(--primary-color);
  text-align: center;
  font-size: 30px;
}
i {
  padding: 20px;
}
nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  padding-left: 30px;
  font-size: 18px;
}
nav li a {
  color: black;
  font-family: var(--heading-font);
}
nav li a.active {
  color: var(--primary-color);
}
nav li a:hover {
  color: var(--primary-color);
  text-decoration: none;
}
.logo {
  max-height: 50px;
}
.hero {
  text-align: center;
  background-color: var(--branding-color);
  padding: 100px 50px;
}
.btn-branding {
  padding: 15px 30px;
  background-color: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
}
.btn-branding-outline {
  padding: 15px 30px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  color: var(--primary-color);
  font-size: 18px;
}
.project-description {
  padding: 80px 20px;
}

.content-container {
  padding: 120px 20px;
}
.content {
  margin: 30px;
  padding-top: 50px;
}
.content h2 {
  font-size: 48px;
}
@media (max-width: 992px) {
  h1 {
    font-size: 40px;
  }
  h2,
  .content h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 12px;
  }
  body {
    text-align: center;
  }
  footer {
    margin: 20px;
    font-size: 20px;
  }
  .project-description {
    padding: 0;
  }
  .hero,
  .content-container {
    padding: 50px;
  }
}
